.auth-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4; 
  overflow: hidden;
}

.image-container {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
}

.content-container {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
}

.welcome-heading {
  font-size: 2em; /* Adjust as needed */
  font-weight: semi-bold;
  color: #259E73; /* Darker text color */
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px; /* Adjust max-width as needed */
  gap: 15px; /* Adjust gap as needed */
}

.create-account-button,
.google-signin-button {
  padding: 12px 15px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-account-button {
  background-color: #259E73; 
  color: white;
}

.create-account-button:hover {
  background-color: #45a049;
}

.google-signin-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-signin-button:hover {
  background-color: #f0f0f0;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.signin-prompt {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

.signin-link {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}